* {
    margin: 0;
    padding: 0;
}
body {
	margin: 0 auto;
    padding: 0;
}
.clear{
	clear:both;
}


h1, h2, h3, h4, h5, h6 {
	font-family: "黑体",arial;
	color: #333333;
	font-weight: bold;
	filter:Shadow(color=#ffffff,Direction=180);
	text-shadow:0px 2px #ffffff;
}
hr{
	color: #ffffff;
}
				
h2{ font-size: 20px; text-align:center; padding: 20px 0; }
h3{ font-size: 17px; padding: 0 0 10px 0; }
h4{ font-size: 16px; padding: 0 0 5px 0; }
h5{ font-size: 14px; padding: 0 0 5px 0; }
h6{ font-size: 12px; padding: 0 0 5px 0; }


a              { color: #57a000; text-decoration: none; }
a:hover     { color: #000; }
a:active     { color: #777; }
a:focus     { outline: 1px; }

strong       { font-weight: bold; color: #333; }

small   		{ font-size: 0.85em; }

pre           { font-family: monospace; }

.text {
	padding: 0 15px;
	line-height: 1.6em;
	font-size: 15px; 
	font-family: "黑体",arial;
	color: #666666;
}

#main{
	width: 100%;
	margin: 0 auto;
	background: url("../images/global_bg.png") repeat;
}
#main .content{
	padding:0 15px;
}
.title{
	padding: 0 0 10px;
}
.title-info{
	margin: 0 auto;
	padding: 0 0 7px;
	width:100%;
	
}
.title-info .from{
	width:50%;
	float:left;
	font-family: "黑体",arial;
	color: #999999;
	font-size: 11px;
	filter:Shadow(color=#ffffff,Direction=180);
	text-shadow:0px 2px #ffffff;
}
.title-info .time{
	float:right;
	text-align:right;
	width:50%;
	color: #999999;
	font-size: 11px;
}
.title .bottom{
	border-bottom: 2px solid #DBDCD3;
}
#main .content .text p img{
	height: expression(this.width > 250 ? this.height = this.height * 250 / this.width : "auto");
	width: expression(this.width > 250 ? "250px" : "auto");
	max-width:250px;
}


#productDet{
	width: 100%;
	margin: 0 auto;
	background: url("../images/global_detail_bg.png") repeat;
}

.content .text  .imgDet {
    text-align:center;  
}
.content .text  .imgDet img{
     max-width: 250px;
}
.band{
	background: url("../images/band_bg.png") repeat;
	margin: 0 -15px;
	
}
.band p{
	position: relative;
	margin: 0 15px;
	font-family: "黑体",arial;
	color: #cd163f;
	font-size: 14px;
}
ul li{  
	list-style-type:none;  
}